.widget {
    box-shadow: $shadow--light;
    margin-bottom: 50px;
    padding: 30px;
    font-size: $font--size--body;
    .widget-title {
        font-size: 1em;
        border-bottom: 1px solid $color--light-gray;
        padding-bottom: 20px;
        color: $color--secondary;
        font-size: 14px;
    }
}
