.widget {
    box-shadow: $shadow--light;
    margin-bottom: 50px;
    padding: 30px;
    font-size: $font--size--body;
    ul{
        li{
            border: none;
            padding: 0;
            & + li {
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;
            }
        }
    }
    .widget-title {
        border-bottom: 1px solid $color--light-gray;
        padding-bottom: 20px;
        color: $color--secondary;
        @include font-size(14)
    }
    a{
        @include plain-hover-focus-active-visited{
            box-shadow: none;
        }
        @include hover-focus-active{
            border-bottom: 1px solid $color--secondary;
        }
    }
}
