.site{
  .site-content-contain{
    background: $color--body-background;
    .page-header{
      display: none;
    }
  }
}
.widget a, a{
  @include plain-hover-focus-active-visited{
    box-shadow: none !important;
  }
}

.widget a{
  @include hover-focus-active{
    border-bottom: 1px solid $color--secondary;
  }
}
