body{
  font-family: $font--body;
  background: $color--body-background;
  color: $color--body;
  font-size: $font--size--body;
  line-height: $font--line-height--body;
}

.wrap {
  @include make-container();
  @include make-container-max-widths();
}

a{
  color: $color--link;
  &:hover{
    color: $color--link-hover;
  }
}

h1, h2, h3, h4 {
  font-family: $font--heading;
}

p{
  margin-bottom: 15px;
}

button, input[type="button"], input[type="submit"] {
  font-family: $font--heading;
  text-transform: uppercase;
  padding: 1em 2em;
}

input + button, input + input[type="button"], input + input[type="submit"] {
  padding: 1em 2em;
}