$color--primary: #ff5722;
$color--secondary: #4a525f;
$color--body-background: #fcfcfc;
$color--body: #646c77;

$color--link: $color--secondary;
$color--link-hover: $color--secondary;

$font--body: 'Source Sans Pro', sans-serif;
$font--heading: 'Montserrat', sans-serif;
$font--size--body: 17px;
$font--line-height--body: 30px;

$shadow--light: 0 0 26px 0 rgba(0,0,0,.12);
$shadow--medium: '';
$shadow--hard: '';

/*==========| Structure |==========*/
// Extra small
$xs-max:543px;

// Small
$sm-min:544px;
$sm-max:767px;

// Medium
$md-min:768px;
$md-max:991px;

// Large
$lg-min:992px;
$lg-max:1199px;

// Extras Large
$xl-min:1200px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
)
